[Unit]
Description=Ejecuta rsync-backup-systemd cada 5 minutos

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=check-public-ip.service

[Install]
WantedBy=timers.target
